body {
    background: #FFFFF0;
}

.contenedora {
    width: 965px;
    margin: auto;
    border-radius: 15px;
    background: white
}

.header {

}

.row {
    text-align: center
}

.footer {
    height: 90px
}

.col {
    width: 265px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 20px
}

.col h2 {
    color: brown;
}

.con_margin {
    margin-top: 30px

}

.menu {
    padding: 0;
    float: right;
}

.menu li {
    float: left;
    list-style: none
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

.menu li a:hover {
    background: #D2B48C
}

.active {
    background: #F5DEB3
}

.footer a {
    text-decoration: none;
    color: black;
}

.enlaces {
    width: 500px;
    float: left;
    padding-left: 35px;

}

.enlaces a {
    padding-right: 35px;
    color: tomato;
}

.titulo {
    text-align: center
}

#cajacookies {
  box-shadow: 0px 0px 5px 5px #808080;
  background-color: #c1bdba ;
  color: white;
  padding: 12px;
  margin: auto;
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
}

#kkk {
  box-shadow: 0px 0px 5px 5px #808080;
  background-color: #c1bdba ;
  color: white;
  padding: 12px;
  margin: auto;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

#cajacookies button {
  color: black;
}
#iniciar {
    float: right;
    position: relative;
    align-content: right;
    top: -45px;
    left: -5px;
}

.btn_nou {
  padding: .25rem .25rem;
  border-radius: .25rem;
  background-color: #3399CC ;
  color: #fff;
  vertical-align: middle;
  transition: background-color .15s ease-in-out;
   font-size:14px;
   
}

.btn_nou:hover, .btn-bootstrap:focus {
  background-color: #0069d9;
}

.btn_nou:active {
  background-color: #0062cc;
}

#opcions {
  margin: auto;
  background-color: #E0FFFF;
  padding: .25rem .25rem;
  border-radius: .25rem;
  border: 1px solid black;
  width: 60%;
}

#formulari_web_service {
  overflow: auto;
  border-radius: .25rem;
  border: 1px solid black;
  padding: 5px;
  background-color: #FFFFE0;
}

#idioma {
  width: 15%;
}

#est_indx {
    width: 10%;
}